body {
    font: 14px "Century Gothic", Futura, sans-serif;
    /* margin: 20px; */
}

ol,
ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 32px;
    font-weight: bold;
    line-height: 50px;
    height: 50px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 50px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.container {
    margin: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;
    /* overflow: hidden; */
    /* flex-direction: column; */
}

.game {
    /* position: absolute; */
    /* margin: auto; */
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: center;
    justify-content: center;
    /* width: 100%;
    justify-content: center; */
}

.game-info {
    /* position: relative; */
    margin-left: 20px;
}

@media screen and (max-width: 440px) {
    .game {
        flex-direction: column;
        row-gap: 10px; /* gap between row / div */
    }
    .game-info {
        margin-left: 0px;
        margin: 0 auto;
        text-align: center;
    }
    .game-board {
        margin: 0 auto;
    }
}

.game-board {
    min-width: 175px;
}

button:hover {
    cursor: pointer;
}
